@* 
Please check:
Link: https://learn.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/page?view=aspnetcore-7.0&tabs=visual-studio#the--directive 
*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- modify the contents -->
    <h1 class="display-4">Cool Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Adding C# syntax inside at{ } and will run in the server side! -->
    <h1>@{ }</h1>
</div>

<!-- Using "Model" as special keyword to access the "Products" -->
<!-- The initial basic loop just for displaying the JSON contents: -->

@*
@foreach (var product in Model.Products)
{
    <h2>@product.Title</h2>
}
*@

<!--
    Then Adding the enhnced styled version with Bootstrap :-)

    A card is a flexible and extensible content container.
    It includes options for headers and footers,
    a wide variety of content, contextual background colors, and powerful display options.
    Link: https://getbootstrap.com/docs/5.3/components/card/

    <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
-->

<!-- 
    Link: https://getbootstrap.com/docs/5.3/components/card/#card-groups
-->

<!-- 
adding our custom class "products" just for narrow down our CSS selection
instead of "card-column" (old BS class)
-->
<div class="row products">
@foreach (var product in Model.Products)
{
        <!-- 
            12 columns in total:
            small-screen => 12 / 6 = 2 columns
            medium and above => 12 / 4 = 3 columns

            Link: https://github.com/anmarjarjees/bootstrap5-website-sample/blob/master/bs1-grid-system.html
        -->
    <div class="card col-sm-6 col-md-4">
        <!--
        Adding card for images 
              Link: https://getbootstrap.com/docs/5.3/components/card/#example

              Also adding our custom CSS with inline styles:
              background-image from the JSON file also:
              using the razor syntax "at" to switch to C# 
              in order to retrieve the image property
              using the loop varaible "product" 
        -->
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body text-center">
                    <h4 class="card-title">@product.Title</h4>
            </div>
    </div>
}
</div>


